<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer xdt:Transform="InsertIfMissing">
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders xdt:Transform="InsertIfMissing">
        <add name="X-Frame-Options" value="SAMEORIGIN" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name) "/>
        <add name="Content-Security-Policy" value="default-src * 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src *; style-src * 'unsafe-inline';" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
        <add name="Access-Control-Allow-Origin" value="https://mvp.sc.localhost" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
        <add name="Access-Control-Allow-Credentials" value="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
        <add name="Access-Control-Allow-Headers" value="*" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, DELETE, PUT, PATCH, OPTIONS" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>