@model Mvp.Feature.Forms.Models.FormField

<div>
    <button 
        id="@Model.ButtonField.Id" 
        name="@Model.NavigationButtonsField.Name" 
        type="submit"
        value="@Model.Model.Title">
        @Model.Model.Title
    </button>
</div>